.propio{
	margin-top: 25px;
	padding-top: 15px;
}
/*html,body{
	background: #F5F5F5;
	font-size: 18px;
}
label{
	font-size: 0.78rem;
	display: block;
	color: #343434;
	margin-bottom: 20px;
	background: #E6E6E6;
}
input{
	width: 50%;
	border-radius: 10px 0 10px 0;
}*/
.rojo{
	background: red;
	height: 50px;
}
.azul{
	background: blue;
	height: 50px;
}
